# Python Intro - Final Exercise

In [21]:
import pyodbc
import pandas as pd
import numpy as np
print('ok')

ok

In [22]:
conn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=DESKTOP-79V6INH\DANIEL1;"
                      "Database=COLLEGE;"
                      "Trusted_Connection=yes;")

In [23]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM Departments$')

for row in cursor:
    print('row = %r' % (row,))

row = (1.0, 'English')
row = (2.0, 'Science')
row = (3.0, 'Arts')
row = (4.0, 'Sport')
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)
row = (None, None)

In [24]:
### Get the students table
students = pd.read_sql("SELECT * FROM Students$;",conn)
students.head()

   StudentId FirstName   LastName Gender
0      162.0    Elmira    Holston      F
1      154.0    Sierra  Van Vorst      F
2       28.0     Mycah    Bingham      F
3       54.0      Alia      Jones      F
4       31.0    Chanda   Fillmore      F

In [25]:
Department = pd.read_sql("SELECT * FROM Departments$;",conn)
Department.head()

   DepartmentId DepartmentName
0           1.0        English
1           2.0        Science
2           3.0           Arts
3           4.0          Sport
4           NaN           None

In [26]:
classrooms = pd.read_sql("SELECT * FROM Classrooms$;",conn)
classrooms.head()

   CourseId  StudentId     degree
0       1.0      202.0  92.031070
1       1.0       12.0  81.175916
2       1.0      232.0  82.396587
3       1.0      123.0  62.420449
4       1.0      274.0  72.569900

In [27]:
teachers = pd.read_sql("SELECT * FROM Teachers$;",conn)
teachers.head()

   TeacherId   FirstName  LastName Gender
0        1.0      Kaylea  Monzingo      F
1        2.0      Amanda   Dworkin      F
2        3.0      Jordyn     Baron      F
3        4.0   Katherine    Dibari      F
4        5.0     Heather   Metcalf      F

In [28]:
courses = pd.read_sql("SELECT * FROM Courses$;",conn)
courses.head()

   CourseId            CourseName  DepartmentID  TeacherId
0       1.0     English Begginers           1.0       15.0
1       2.0      Advanced English           1.0       15.0
2       3.0  Proffesional English           1.0       15.0
3       4.0       Mathematics 101           2.0        2.0
4       5.0   Matematics Advanced           2.0       13.0

# Questions
 
 
## Q1. Count the number of students on each department

In [29]:
new_df = pd.merge(classrooms,courses, left_on=['CourseId'], right_on = ['CourseId'])

In [30]:
new_df.groupby('DepartmentID').agg({'StudentId':['count',sum,'mean']})

             StudentId
                 count      sum        mean
DepartmentID
1.0                 94  12625.0  134.308511
2.0                378  53220.0  140.793651
3.0                186  26019.0  139.887097
4.0                 96  13556.0  141.208333

## Q2. How many students have each course of the English department and the total number of students in the department?

In [31]:
new_df = pd.merge(classrooms,courses, left_on=['CourseId'], right_on = ['CourseId'])
new_df.head()

   CourseId  StudentId     degree         CourseName  DepartmentID  TeacherId
0       1.0      202.0  92.031070  English Begginers           1.0       15.0
1       1.0       12.0  81.175916  English Begginers           1.0       15.0
2       1.0      232.0  82.396587  English Begginers           1.0       15.0
3       1.0      123.0  62.420449  English Begginers           1.0       15.0
4       1.0      274.0  72.569900  English Begginers           1.0       15.0

## Q3. How many small (<22 students) and large (22+ students) classrooms are needed for the Science department?

## Q4. A feminist student claims that there are more male than female in the College. Justify if the argument is correct

In [32]:
students.groupby('Gender').agg({'StudentId':['count']})

       StudentId
           count
Gender
F            165
M            115

## Q5. For which courses the percentage of male/female students is over 70%?

In [33]:
new_df3 = pd.merge(classrooms,students, left_on=['StudentId'], right_on = ['StudentId'])



new_df3['Female'] = 0
new_df3['Male'] = 0


new_df3.loc[new_df3.Gender == 'F','Female'] = 1
new_df3.loc[new_df3.Gender == 'M','Male'] = 1

calc = new_df3.groupby('CourseId').agg({'Female':['mean']})
if (calc[calc > 0.7].dropna().shape[0] > 0 ):
    print( calc[calc > 0.7].dropna())

calc = new_df3.groupby('CourseId').agg({'Male':['mean']})
if (calc[calc > 0.7].dropna().shape[0] > 0 ):
    print( calc[calc > 0.7].dropna())

            Female
              mean
CourseId
22.0      0.708333
29.0      0.722222

## Q6. For each department, how many students passed with a grades over 80?

In [34]:
df4 = new_df[['DepartmentID', 'StudentId', 'degree']]

df4 = df4[df4['degree'] > 80].drop_duplicates()
df4.groupby('DepartmentID')['StudentId'].agg('count')

DepartmentID
1.0     43
2.0    171
3.0     68
4.0     41
Name: StudentId, dtype: int64

## Q7. For each department, how many students passed with a grades under 60?

In [35]:
df4 = new_df[['DepartmentID', 'StudentId', 'degree']]

df4 = df4[df4['degree'] < 60].drop_duplicates()
df4.groupby('DepartmentID')['StudentId'].agg('count')

DepartmentID
1.0    2
2.0    7
3.0    3
4.0    1
Name: StudentId, dtype: int64

## Q8. Rate the teachers by their average student's grades (in descending order).

In [36]:
new_df2 = pd.merge(classrooms,courses, left_on=['CourseId'], right_on = ['CourseId'])

In [37]:

print(new_df2.groupby(['TeacherId'])['degree'].agg('mean').sort_values(ascending=False))

TeacherId
22.0    81.432703
3.0     80.729494
5.0     80.440242
20.0    79.365867
1.0     79.365537
18.0    78.908281
24.0    78.814631
15.0    78.699492
23.0    78.673509
19.0    78.495479
17.0    78.443395
10.0    78.383348
21.0    78.316150
6.0     77.743575
9.0     77.406852
12.0    77.134323
2.0     76.899881
11.0    76.765296
14.0    76.737973
16.0    76.516464
8.0     75.955453
13.0    75.668139
Name: degree, dtype: float64

## Q9. Create a dataframe showing the courses, departments they are associated with, the teacher in each course, and the number of students enrolled in the course (for each course, department and teacher show the names).

In [ ]:
new_d9 = pd.merge(new_df,teachers, left_on=['TeacherId'], right_on = ['TeacherId'])
new_d9.head()

In [40]:
new_d10 = pd.merge(new_d9,Department, left_on=['DepartmentID'], right_on = ['DepartmentId'])
new_d10.head()

MemoryError:

## Q10. Create a dataframe showing the students, the number of courses they take, the average of the grades per class, and their overall average (for each student show the student name).